venv
__pycache__
htpasswd
allow_websocket_origin.txt
Output_Graphics
Solution
solution.json
gurobi.log

app/modules/common/FEAT/F16/config\.json

\.spyproject/

app/modules/common/FEAT/F16/activate.bat
